@import url('reset.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    /* font-size: 1.2em; */
    line-height: 1em;
    max-height: 100vh;
    max-width: 100vw;
    overflow-y: visible;
    background-color: #111;
    padding: 0 10px;
    margin: auto;
}

nav.nav {
    padding-top: 18px;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.nav .a-link {
    font-size: .9em;
    border: 1px solid white;
    padding: 10px;
    color: black;
    border-radius: 80px;
    text-align: center;
    background-color: white;
    text-decoration: none;
}

nav.nav .a-link .mdi {
    font-weight: bolder;
    color: #111;
    font-size: .8em;
}

.section {
    margin: 0px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    padding: 0 20px;
}


.section .img-block {
    padding: 10px 20px;
    background-color: transparent;
    display: block;
    /* border-radius: 80%; */
    /* clip-path: circle(30% at 20% 50%); */
}


.text-center {
    text-align: center;
}

.section h6 {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 4rem;
}

.section .detail {
    color: white;
}

.section .detail p {
    padding: 4px;
    line-height: 20px;
    font-size: .9rem;
    word-spacing: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 20px;
}


#main {}

#main .social-btn-group {
    display: flex;
    width: 100%;
    padding: 10px 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.social-btn-group .social-btn {
    display: block;
    text-decoration: none;
    border: 1px solid currentColor;
    width: 100%;
    text-align: center;
    margin-top: .8rem;
    background-color: white;
    color: #111;
    font-weight: bold;
    padding: 14px;
}
img{
    display: block;
    width: 40%;
    margin: auto;
    border-radius: 400px;
    height: auto;
    object-fit: cover;
}
@media screen and (min-width:900px) {
    body{
        border:1px solid white;
        padding: 2px;
        max-width: 50%;
    }
}